<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafe.jjdev.mall.mapper.ProductCommonMapper">

	<resultMap id="productCommonMap" type="cafe.jjdev.mall.vo.ProductCommon">
		<result column="product_common_no" property="productCommonNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="product_common_name" property="productCommonName"/>
		<result column="product_common_price" property="productCommonPrice"/>
		<result column="product_common_description" property="productCommonDescription"/>
		<result column="product_common_date" property="productCommonDate"/>
		
		<collection property="product" ofType="cafe.jjdev.mall.vo.Product">
			<id column="product_no" property="productNo"/> <!-- PK -->
			<result column="product_common_no" property="productCommonNo"/>
			<result column="product_color" property="productColor"/>
			<result column="product_size" property="productSize"/>
			<result column="product_stock" property="productStock"/>
		</collection>
	</resultMap>
	
	<!-- 상품 상세 보기 -->
	<!-- select 쿼리의 result type을 resultMap의 id로 한다. -->
	<select id="selectProductCommonByCategory" parameterType="int" resultMap="productCommonMap">
		SELECT
			pc.product_common_no,
			pc.category_no,
			pc.product_common_name,
			pc.product_common_price,
			pc.product_common_description,
			pc.product_common_date,
			p.product_no,
			p.product_common_no,
			p.product_color,
			p.product_size,
			p.product_stock
		FROM product_common pc
			INNER JOIN product p
				ON pc.product_common_no = p.product_common_no
		WHERE pc.product_common_no = #{productCommonNo}
	</select>
	
	<!-- 상품 상세 보기(product없을 시) -->
	<select id="selectProductCommonByCategoryForNotProduct" parameterType="int" resultMap="productCommonMap">
		SELECT
			product_common_no,
			category_no,
			product_common_name,
			product_common_price,
			product_common_description,
			product_common_date
		FROM product_common
		WHERE product_common_no = #{productCommonNo}
	</select>
	
	<!-- 페이징/이름 검색 -->
	<select id="selectProductCommonList" parameterType="java.util.Map" resultMap="productCommonMap">
		SELECT
			product_common_no,
			category_no,
			product_common_name,
			product_common_price,
			product_common_description,
			product_common_date
		FROM product_common
		WHERE category_no = #{categoryNo}
		<if test="searchWord != '%%'">
			AND product_common_name LIKE #{searchWord}
		</if>
		ORDER BY product_common_no DESC
		LIMIT #{startRow}, #{rowPerPage}
	</select>
	
	<!-- product_comment테이블 총 행 수 카운트 -->
	<select id="selectRowCount" resultType="int">
		SELECT COUNT(*) FROM product_common
	</select>
	
</mapper>